* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

$colorGrey-bg: #E5E5E5;

.todo {
    max-width: 950px;
    // max-height: 530px;
    margin: 100px auto;
    display: flex;
    height: 530px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);

    .todo__sidebar {
        width: 20%;
        background-color: $colorGrey-bg;
        padding: 58px 20px;
        text-align: left;

        img {
            opacity: 0.7;
        }

        li {
            padding: 10px 12px;
            display: flex;
            position: relative;

            &:first-child {
                margin-bottom: 15px;
            }

            &.active {
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
            }
        }

        .badge {
            width: 10px;
            height: 10px;
            display: inline-block;

            &--red {
                background-color: red;
            }
            &--green {
                background-color: green;
            }
            &--orange {
                background-color: orange;
            }
            &--pink {
                background-color: pink;
            }
            &--blue {
                background-color: blue;
            }
            &--magenta {
                background-color: magenta;
            }

        }

        .todo__inProgress {
            position: absolute;
            top: -5px;
            right: -5px;
            font-size: 12px;
            background: lightgoldenrodyellow;
            cursor: pointer;
         }
    }

    .todo__tasks {
        flex: 1;
        position: relative;
        padding: 58px 20px;
    }

    .todo__list_text {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
    }

   
}

.add-icon {
    color: #767676;

    li {
        
        &:hover {
        cursor: pointer;
        color: black;
        
        svg path {
            stroke: black;
        }
        }
    }
}

.todo__addPopup-container {
     position: absolute;
     bottom: 38px;

    .todo__popup {
        position: absolute;
        z-index: 101;
    }
}