.todo__popup {
    position: relative;

    form {
        position: absolute;
        width: 250px;

        input {
            position: relative;
            // &:before {
            //     position: absolute;
            //     content: '';
            //     width: 30px;
            //     height: 30px;
            // }
           
        }

        label {
            display: inline-block;
            width: 30px;
            height: 30px; 
            &:after {
                position: absolute;
                content: '';
                width: 30px;
                height: 30px;
                border: 1px solid grey;
                border-radius: 50%;
            }
        }

    }
}